# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Hieu\Computer_Programming\Computer_Programs\Java\javabrains.io\Hibernate\IntelliJ IDEA\java-hibernate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
